<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobstac.beaconstacdemo">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:name=".BeaconstacDemo"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BeaconstacDemoReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="com.mobstac.beaconstac.intent.action.RANGED_BEACON" />
                <action android:name="com.mobstac.beaconstac.intent.action.CAMPED_BEACON" />
                <action android:name="com.mobstac.beaconstac.intent.action.EXITED_BEACON" />
                <action android:name="com.mobstac.beaconstac.intent.action.TRIGGERED_RULE" />
                <action android:name="com.mobstac.beaconstac.intent.action.ENTERED_REGION" />
                <action android:name="com.mobstac.beaconstac.intent.action.EXITED_REGION" />
                <action android:name="com.mobstac.beaconstac.intent.action.ENTERED_GEOFENCE" />
                <action android:name="com.mobstac.beaconstac.intent.action.EXITED_GEOFENCE" />
            </intent-filter>
        </receiver>


        <receiver android:name="com.mobstac.beaconstac.core.DismissNotification">
            <intent-filter>
                <action android:name="com.mobstac.beaconstac.core.DismissNotification" />
            </intent-filter>
        </receiver>

        <service android:name="com.mobstac.beaconstac.core.MSBLEService" />
        <service android:name="com.mobstac.beaconstac.core.BTToggleService" />

        <service android:name="com.mobstac.beaconstac.core.MSGeofenceTransitionIntentService" />

        <provider
            android:name=".MyContentProvider"
            android:authorities="@string/provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true"></provider>

    </application>

</manifest>
